################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenID/.vs/OpenID/FileContentIndex/c81e4279-7ec8-4cda-bad9-0867108ab9c8.vsidx
/OpenID/.vs/OpenID/FileContentIndex/b2382b33-8688-49e7-999d-76d3875ce9c0.vsidx
/OpenID/.vs/OpenID/FileContentIndex/7d6f2236-8680-4011-a835-1515953ce37b.vsidx
/OpenID/.vs/OpenID/FileContentIndex/22355e02-a8bc-43d1-961b-b71af7455588.vsidx
