################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenID/.vs/OpenID/FileContentIndex/c81e4279-7ec8-4cda-bad9-0867108ab9c8.vsidx
/OpenID/.vs/OpenID/FileContentIndex/b2382b33-8688-49e7-999d-76d3875ce9c0.vsidx
/OpenID/.vs/OpenID/FileContentIndex/7d6f2236-8680-4011-a835-1515953ce37b.vsidx
/OpenID/.vs/OpenID/FileContentIndex/22355e02-a8bc-43d1-961b-b71af7455588.vsidx
/.vs/SSO/v17/.suo
/OpenID/.vs/OpenID/FileContentIndex/b1a2f5d5-15d6-4979-a380-646c9e1cd835.vsidx
/OpenID/.vs/OpenID/FileContentIndex/6c9995f6-a746-4046-85ce-62d84e771ace.vsidx
/OpenID/.vs/OpenID/FileContentIndex/0686fdb1-1e33-4b2c-a26c-41b4cfea4866.vsidx
/OpenID/.vs/OpenID/FileContentIndex/6f491a8e-a5ae-4c04-bcb9-846bbfa962ea.vsidx
/OpenID/.vs/OpenID/FileContentIndex
